@model TestSystem.Web.Areas.Administration.Models.CreateTestViewModels.CreateTestViewModel


<div>

    <h2 class="page-header">New Test</h2>

    <form asp-area="Administration" asp-controller="CreateTest" asp-action="CreateTest" method="post">
        
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Duration"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </form>

</div>
