@model TestSystem.Web.Areas.Administration.Models.CreateTestViewModels.IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 0% 10%">

    <h2>New Test</h2>

    <form>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="TestName">Test Name*</label>
                <input type="text" class="form-control" placeholder="Test name">
            </div>
            <div class="form-group col-md-2">
                <label for="Time">Requested Time*</label>
                <input type="text" class="form-control" placeholder="20 min">
            </div>
            <div class="form-group col-md-4">
                <label for="Category">Category*</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var category in Model.Categories)
                        {
                            <a class="dropdown-item" href="#">@category.Name</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>
