<div style="margin: 15% 0% 5% 0%; text-align:center">
    <h2><b>Your time has expired!</b></h2>
</div>

<div style=" align-items:center">
    <a asp-controller="Dashboard" asp-action="Index" method="get" class="btn btn-danger" style="margin-left: 46%"><b> Go Back </b></a>
</div>

   