#CreateTestContent {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: central;
    height: auto;
    min-height: 500px;
    padding: 20px 20px 20px 20px;
}

.window {
    border: 1px solid #dcdcdc;
}

.icons-area {
    float:right;
}

.icon {
    border:none;
    float:right;
}

.col {
    display:inline-block;
}

#createTestPage {
    padding-left: 10%;
    padding-right: 10%;
}

#add-question {
    float: right;
}

.delete-answer {
    float: right;
    border: 5px 5px 5px 5px;
}

.answer-body {
    padding-left: 10%;
    padding-right: 10%;
}

#save-draft-test {
    float: right;
    margin-right: 10px;
}

#save-published-test {
    float: left;
    margin-left: 10px;
}

.create-test {
    background: #fc714e;
    background-image: -webkit-linear-gradient(top, #fc714e, #c2410e);
    background-image: -moz-linear-gradient(top, #fc714e, #c2410e);
    background-image: -o-linear-gradient(top, #fc714e, #c2410e);
    background-image: linear-gradient(to bottom, #fc714e, #c2410e);
    border-radius: 17px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    border: none;
}

    .create-test:hover {
        background: #c2410e;
        background-image: -webkit-linear-gradient(top, #c2410e, #fc714e);
        background-image: -moz-linear-gradient(top, #c2410e, #fc714e);
        background-image: -o-linear-gradient(top, #c2410e, #fc714e);
        background-image: linear-gradient(to bottom, #c2410e, #fc714e);
        text-decoration: none;
    }

.create-test-btn-red {
    background: #fa6161;
    background-image: -webkit-linear-gradient(top, #fa6161, #c90404);
    background-image: -moz-linear-gradient(top, #fa6161, #c90404);
    background-image: -o-linear-gradient(top, #fa6161, #c90404);
    background-image: linear-gradient(to bottom, #fa6161, #c90404);
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    border: none;
    float: left;
    margin-right: 10px;
}

    .create-test-btn-red:hover {
        background: #f24848;
        color: white;
    }

.create-test-btn-green {
    background: #51d613;
    background-image: -webkit-linear-gradient(top, #51d613, #3a990b);
    background-image: -moz-linear-gradient(top, #51d613, #3a990b);
    background-image: -o-linear-gradient(top, #51d613, #3a990b);
    background-image: linear-gradient(to bottom, #51d613, #3a990b);
    border-radius: 17px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    border: none;

}

    .create-test-btn-green:hover {
        background: #51d613;
        color: white;
    }

.questionNumber {
    color: dimgray;
    font-weight: bolder;
    font-size: 22px;
}

.answerNumber {
    color: dimgray;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

.create-test-radio {
    transform: scale(2);
    float: right;
    margin-top: 100px !important;
}

.add-answer {
    margin-left: 47%;
    margin-bottom: 70px;
}

.delete-answer {
    float: right;
    margin-left: 10px;
}
