@model TestSystem.Web.Areas.Administration.Models.DashboardViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2 class="page-header">@ViewData["Title"]</h2>


<div id="admin-dash-content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tests-tab" data-toggle="tab" href="#tests" role="tab" aria-controls="tests" aria-selected="true">Test List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="results-tab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="false">Test Results</a>
        </li>
        <a asp-area="Administration" asp-controller="CreateTest" asp-action="Index" method="get" class="btn btn-primary pull-right NewTestBtn">New Test</a>
    </ul>

    <div id="myTabContent">
        <div class="tab-pane fade show active" id="tests" role="tabpanel" aria-labelledby="tests-tab">
            <table id="example" class="table table-bordered tab-content" style="width:100%">
                <thead class="table-header">
                    <tr>
                        <th class="col-md-4 text-center">Test Name</th>
                        <th class="col-md-2 text-center">Category</th>
                        <th class="col-md-2 text-center">Status</th>
                        <th class="col-md-5 text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var test in Model.ExistingTests)
                    {
                        <tr class="table-row">
                            <td>@test.TestName</td>
                            <td class="text-center">@test.Category</td>

                            @if (test.IsPusblished)
                            {
                                <td>Draft</td>
                                <td></td>
                            }
                            else
                            {
                                <td>Publlished</td>
                                <td></td>
                            }
                            @*<td class="text-center">
                                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Publish" method="get" class="btn btn-primary myButton">Publish</a>
                                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Edit" method="get" class="btn btn-primary myButton">Edit</a>
                                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Delete" method="get" class="btn btn-primary myButton">Delete</a>
                            </td>*@
                        </tr>
                    }

                </tbody>

            </table>

        </div>

        <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">
            Results
        </div>
    </div>
</div>



