@model TestSystem.Web.Areas.Administration.Models.DashboardViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2 class="page-header">@ViewData["Title"]</h2>


<div class="dash-content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tests-tab" data-toggle="tab" href="#tests" role="tab" aria-controls="tests" aria-selected="true">Test List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="results-tab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="false">Test Results</a>
        </li>
        <a asp-area="Administration" asp-controller="CreateTest" asp-action="Index" method="get" class="btn btn-primary pull-right NewTestBtn">New Test</a>
    </ul>

    <div id="myTabContent">
        <div class="tab-pane fade in active" id="tests" role="tabpanel" aria-labelledby="tests-tab">
            @Html.Partial("_ExistingTests", Model.ExistingTests)

        </div>

        <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">
            @Html.Partial("_TestResults", Model.TestResults)
        </div>
    </div>
</div>



