@model TestSystem.Web.Models.DashboardViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<h2>@ViewData["Title"]</h2>

<div>
    <asp:LoginName id="LoginName1" runat="server" FormatString="Welcome, {0}" />
</div>


<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">

        @for (int i = 0; i < Model.Categories.Count(); i++)
        {
            string categoryName = Model.Categories[i].Name;
            
            <li class="nav-item">
                <a class="nav-link"
                   title="@i-tab"
                   id="@categoryName-tab"
                   data-toggle="tab"
                   href="#@i-content"
                   role="tab"
                   aria-controls="@i-content"
                   aria-selected="true">
                    @Model.Categories[i].Name
                    (o)
                </a>
            </li>
        }
    </ul>

    <div class="tab-content" id="myTabContent2">


        @*@for (int i = 0; i < Model.Categories.Count(); i++)
            {
                <div class="tab-pane fade" id="@i-content" role="tabpanel" aria-labelledby="@i-tab">@Model.Tests[i].Name</div>

                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Start
                    </button>
            }*@

    </div>

</div>
