@model RegisterViewModel
@using TestSystem.Web.Models.HomeViewModels
@{
    ViewData["Title"] = "Register";
}

<h2 class="page-header">@ViewData["Title"]</h2>

<div class="row col">
    <div class="col col-md-12">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-controller="Home" asp-action="Register" method="post">
            <h6 style="color:gray">New candidate? Please create an account in order to be able to fill your tests and submit for evaluation.</h6>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default home-button">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
