@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin:0% 15%">
    <div class="col-lg-6">
        @Html.Partial("_SignInPartial")
    </div>
    <div class="col-lg-6">
        @Html.Partial("_RegisterPartial")
    </div>
</div>

